.cardHomeContainer{
  margin: 70px;
  width: 180px;
  max-width: 100%;
  height: 80px;
  background-color: #ced6e0;
  border: #1abc9c 4px solid;
  position: relative;
  border-radius: 10px;
  box-shadow: #16a085 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.cardHomeImg{
  width: 65px;
  height: 65px;
  position: absolute;
  top: -40px;
  left: -30px;
  border: #1abc9c 4px solid;
  border-radius: 50%;
}

.cardHomeName{
  color: black;
  margin: 0;
  padding: 10px;
  text-align: center;
  text-decoration: underline;
}

.cardHomeInfo{
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #2f3542;
  background-color: #dfca0f;
  border-radius: 50%;
}

/*MODAL*/

.cardHomeModal{
  padding: 10px;
  width: 300px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: #1abc9c 2px solid;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #2f3542;
  color: white;
  outline: none;
  box-shadow: 0 8px 4px -1px rgba(0,0,0,0.25);
}



.modalImg{
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.modalButton{
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 10px;
  outline: none;
  color: white;
  background-color: #16a085;
}

